
/* background and font */
body {
    background-image: url("img/bild.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Raleway", Arial, sans-serif;
}

/* name with border */
#main-title {
    /* title with border */
    color: white;
    text-align: center;
    width: 330px;
    position: absolute;
    border: solid 3px white;
    
    /* Center Position */
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* links */
#imglinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    letter-spacing: 0.7px;
}

/* side links */
.linkpic {
    float: left;
    margin: 10px;
    margin-top: 25px;
    font-size: 18px;
}

/* center link, me */
.profilpic {
    float: left;
    margin: 10px;
    font-size: 30px;
}

/* title font */
h1 {
    font-weight: 400;
    font-size: 50px;
}

/* slogan font */
h2 {
    font-weight: 400;
}

/* circle image */
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* image size */
.profilpic img {
    width: 130px;
    height: 130px;
}

/* link title */
figcaption {
    text-align: center;
}

/* hover effect */
.linkpic:hover {
    filter: brightness(0.7);
}

/*.linkpic img:hover {
    width: 102px;
    height: 102px;
}*/

/* hover effect */
.profilpic:visited {
    animation-name: profilpic-anim;
    animation-duration: 10s;
    /*transform: translateY(-100px);*/
}

.profilpic:hover {
    filter: brightness(0.7);
}

/* link */
a {
    text-decoration: none;
    color: #1e2b3c;
}

#iconlinks {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#iconlinks img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

#iconlinks img:hover {
    filter: brightness(0.7);
}

#copyright {
    position: fixed;
    top: 97%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

#me-tab {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    right: 0%;
    height: 300px;
}

#me-tab img {
    height: 200px;
    width: 200px;
    margin: 50px;
    float: left;
}

#me-tab-content {
    margin-top: 10px;
    float: left;
}

#me-tab-content2 {
    margin-top: 68px;
    margin-left: 100px;
    float: left;
}

#websites-tab {
    position: absolute;
    background-color: #285e82;
    color: white;
    top: 141.2%;
    left: 0%;
    right: 0%;
    height: 440px;
    text-align: center;
}

#websites-tab img {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}

#websites-tab p {
    margin-top: -20px;
    color: white;
}

#websites-tab h2 {
    font-size: 25px;
    color: white;
}

#websites-tab figcaption {
    margin-top: -20px;
}

#websites-tab figcaption p {
    margin-top: -10px;
}

#websites-tab-content {
    position: absolute;
    top: 58%;
    left: 56%;
    width: 1000px;
    transform: translate(-50%, -50%);
}

#websites-tab-content-site {
    width: 200px;
    height: 250px;
    float: left;
}

#websites-tab-content-site:hover {
    filter: brightness(0.7);
}

#sucess-tab {
    position: absolute;
    background-color: white;
    color: black;
    top: 200%;
    left: 0%;
    right: 0%;
    height: 440px;
    text-align: center;
}

#sucess-tab img {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}

#sucess-tab p {
    margin-top: -20px;
    color: black;
}

#sucess-tab h2 {
    font-size: 25px;
    color: black;
}

#sucess-tab figcaption {
    margin-top: -20px;
}

#sucess-tab figcaption p {
    margin-top: -10px;
}

#sucess-tab-content {
    position: absolute;
    top: 58%;
    left: 62%;
    width: 1000px;
    transform: translate(-50%, -50%);
}

#sucess-tab-content-site {
    width: 200px;
    height: 250px;
    float: left;
}

#sucess-tab-content-site:hover {
    filter: brightness(0.7);
}

#github-tab {
    position: absolute;
    background-color: #285e82;
    color: white;
    top: 258.8%;
    left: 0%;
    right: 0%;
    height: 400px;
    text-align: center;
}

#github-tab img {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}

#github-tab p {
    margin-top: -20px;
    color: white;
}

#github-tab h2 {
    font-size: 25px;
    color: white;
}

#github-tab figcaption {
    margin-top: -20px;
}

#github-tab figcaption p {
    margin-top: -10px;
}

#github-tab-content {
    position: absolute;
    top: 63%;
    left: 50%;
    width: 850px;
    transform: translate(-50%, -50%);
}

#github-tab-content-site {
    width: 200px;
    height: 200px;
    float: left;
    background-color: white;
    margin: 0 5px 0 5px;
}

#github-tab-content-site h2 {
    font-weight: bold;
    color: #285e82;
}

#github-tab-content-site p {
    color: #285e82;
}

#github-tab-content-site:hover {
    filter: brightness(0.7);
}

#gith-info1 {
   color: black;
}

#games-tab {
    position: absolute;
    background-color: white;
    color: black;
    top: 310%;
    left: 0%;
    right: 0%;
    height: 440px;
    text-align: center;
}

#games-tab img {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}

#games-tab p {
    margin-top: -20px;
    color: black;
}

#games-tab h2 {
    font-size: 25px;
    color: black;
}

#games-tab figcaption {
    margin-top: -20px;
}

#games-tab figcaption p {
    margin-top: -10px;
}

#games-tab-content {
    position: absolute;
    top: 58%;
    left: 56%;
    width: 1000px;
    transform: translate(-50%, -50%);
}

#games-tab-content-site {
    width: 200px;
    height: 250px;
    float: left;
}

#games-tab-content-site:hover {
    filter: brightness(0.7);
}

#credits-tab {
    position: absolute;
    background-color: black;
    top: 370%;
    left: 0%;
    right: 0%;
    height: 280px;
    color: white;
}

#credits-tab-content {
    margin-top: 40px;
    margin-left: 100px;
    float: left;
}

@media screen and (max-width: 1280px) {

    #imglinks {
        width: 630px;
    }

}

@media screen and (max-height: 693px) {

    #websites-tab {
        top: ;
    }

    #sucess-tab {
        top: 210%;
    }

    #github-tab {
        top: 280%;
    }

    #games-tab {
        top: ;
    }

    #credits-tab {
        top: 400%;
    }

}

@media screen and (max-height: 640px) {

    #websites-tab {
        top: 150%;
    }

    #sucess-tab {
        top: 225%;
    }

    #github-tab {
        top: 300%;
    }

    #games-tab {
        top: 350%;
    }

    #credits-tab {
        top: 430%;
    }

}

@media screen and (max-height: 535px) {

    #me-tab {
        height: 400px;
    }

    #websites-tab {
        top: 160%;
    }

    #sucess-tab {
        top: 245%;
    }

    #github-tab {
        top: 330%;
    }

    #games-tab {
        top: 380%;
    }

    #credits-tab {
        top: 470%;
    }

}

/* middle screen size */
@media screen and (max-width: 940px) {

    /* smaller picture */
    img {
        width: 50px;
        height: 50px;
    }

    /* smaller title font */
    h1 {
        font-weight: 400;
        font-size: 25px;
    }

    /* smaller title */
    #main-title {
        width: 160px;
        top: 18%;
    }

    /* smaller links */
    #imglinks {
        margin-left: 15%;
        top: 50%;
        font-weight: 700;
        letter-spacing: 0.4px;
    }

    /* smaller picture */
    .profilpic img {
        width: 65px;
        height: 65px;
    }

    /* smaller link title */
    figcaption {
        font-size: 12px;
    }
}

/* middle screen size background */
@media screen and (max-width: 1050px) {

    /* customize background */
    body {
        background-size: 1100px;
        background-position-x: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 420px) {

    @media screen and (max-height: 900px) {

        /* fixing background */
        body { 
            background-size: 324%;
        }

        /* mobile title */
        #main-title {
            top: 12%;
            width: 300px;
        }

        /* mobile link height */
        #imglinks {
            top: 55%;
            width: 90%;
            left: 50%;
        }

        /* mobile title font */
        h1 {
            font-size: 45px;
        }

        /* mobile link picture */
        .profilpic img {
            width: 150px;
            height: 150px;
        }

        /* mobile link picture */
        .linkpic img {
            width: 90px;
            height: 90px;
            margin-left: 15px;
        }

        .profilpic {
            width: 49%;
            margin-left: 15%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #third-linkpic {
            float: left;
        }

        #me-tab {
            top: 100%;
            width: 50%;
        }

        #me-tab img {
            height: 100px;
            width: 100px;
        }

        #me-tab-content {
            width: 100%;
            float: right;
        }

        #websites-tab {
            top: 200%;
            width: 100%;
        }

        #games-tab {
            top: 240%;
            width: 100%;
        }

        #sucess-tab {
            width: 100%;
        }

        /* mobile link title */
        figcaption {
            font-size: 30px;
        }

        #iconlinks {
            width: 90%;
            left: 62%;
        }
    }
}


/*@keyframes profilpic-anim {
    from {
        background-color: black;
    }
    to {
        background-color: chartreuse;
    }
} */