
body {
    background-image: url("bild.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Raleway", Arial, sans-serif;
}

#main-title {
    /* title with border */
    color: white;
    text-align: center;
    width: 330px;
    position: absolute;
    border: solid 3px white;
    
    /* Center Position */
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#imglinks {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    letter-spacing: 0.7px;
}

.linkpic {
    float: left;
    margin: 10px;
    margin-top: 25px;
    font-size: 18px;
}

.profilpic {
    float: left;
    margin: 10px;
    font-size: 30px;
}

h1 {
    font-weight: 400;
    font-size: 50px;
}

h2 {
    font-weight: 400;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profilpic img {
    width: 130px;
    height: 130px;
}

figcaption {
    text-align: center;
}

.linkpic:hover {
    filter: brightness(0.7);
}

/*.linkpic img:hover {
    width: 102px;
    height: 102px;
}*/

.profilpic:hover {
    filter: brightness(0.7);
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 940px) {
    img {
        width: 50px;
        height: 50px;
    }

    h1 {
        font-weight: 400;
        font-size: 25px;
    }

    #main-title {
        width: 160px;
        top: 42%;
    }

    #imglinks {
        top: 55%;
        font-weight: 700;
        letter-spacing: 0.4px;
    }

    .profilpic img {
        width: 65px;
        height: 65px;
    }

    figcaption {
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) {
    body {
        background-size: 1100px;
        background-position-x: 50%;
    }
}

/* Mobile*/
@media screen and (max-width: 620px) {
    body {
        background-attachment: fixed;
    }

    #main-title {
        top: 20%;
        width: 300px;
    }

    h1 {
        font-size: 45px;
    }

    .profilpic img {
        width: 180px;
        height: 180px;
    }

    .linkpic img {
        width: 150px;
        height: 150px;
        margin-left: 15px;
    }

    #imglinks {
        top: 78%;
    }

    figcaption {
        font-size: 30px;
    }
}